<launch>
  <!-- Arguments参数 -->
  <arg name="car_mode"  default="mini_mec" doc="opt: mini_mec,senior_mec_no,senior_mec_dl,top_mec_bs,top_mec_dl,senior_mec_EightDrive,top_mec_EightDrive,mini_omni,senior_omni,top_omni"/>
  <group ns="robot1">
  <!-- turn on base_serial 开启底层单片机的控制节点  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/include/base_serial.launch" />
  </group>
 </launch>


